<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>4.4.1</string>
	<key>appId</key>
	<string>10876318</string>
	<key>appKey</key>
	<string>fd932d40aec042968c7d15b5edcbd945</string>
	<key>channelID</key>
	<string>564</string>
	<key>RYappKey</key>
	<string>22cc900d1e9f805b755dd4a81ba894e7</string>
</dict>
</plist>
