<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>4.4.1</string>
	<key>appId</key>
	<string>10876223</string>
	<key>appKey</key>
	<string>baf3030cf20f49a29808d403fe73e9ef</string>
	<key>channelID</key>
	<string>461</string>
	<key>RYappKey</key>
	<string>a2b69489c07b42a74786f9c9513619eb</string>
</dict>
</plist>
